
/*.btn {*/
/*display: inline-block;*/
/*padding: 6px 12px;*/
/*margin-bottom: 0;*/
/*font-size: 14px;*/
/*font-weight: 400;*/
/*line-height: 1.42857143;*/
/*text-align: center;*/
/*white-space: nowrap;*/
/*vertical-align: middle;*/
/*cursor: pointer;*/
/*-webkit-user-select: none;*/
/*-moz-user-select: none;*/
/*-ms-user-select: none;*/
/*user-select: none;*/
/*background-image: none;*/
/*border: 1px solid transparent;*/
/*border-radius: 4px;*/
/*}*/



.sidebar {
  list-style-type:none;
  //background-color:#333;

  top:0;
  float:left;
  bottom:0;
  left:0;
  text-align:left;
  //position: absolute;
  margin: 0;
  padding: 0;
  list-style: none;
  transition:1s ease;
}

.sidebar a {
  text-decoration:none;
  color:black;
  transition:1s ease;
}

.sidebar li {
  text-indent: 2px;
  line-height: 40px;
  transition:0.5s ease;

}

.sidebar li:hover {
  color:white;
  background-color:#7abaff;
  cursor:pointer;
  text-indent: 3px;

}
.sidebar li:hover a{
  color:white;
}
.sidebar li span{
  color:green;
}
.sidebar li .glyphicon-off{
  color:black;
}
.sidebar li:hover span{
  color:white;
}


.wrapper {
  position: relative;
  width: 100%;
  min-height: 50px;
  margin: 0 auto;
}
.box {
  background: blue;
}

@media only screen and (max-width: 989px) {
  .sidebar{
    width:100%;
    margin:0 auto;
    text-align:center;
  }
}
