{% load static %}
<link rel="stylesheet" href="{% static 'blog_base_css/style.css' %}" crossorigin="anonymous">
<script src="{% static 'blog_base_js/blog_base.js' %}"></script>

<div class="container-fluid" id="blog-container">
    <div class="row">
        <div class="col-md-2">
            <ul class="sidebar">
                {% for category in category_list %}
                <li>
                    <a href="#" onclick="$ajax.generateContent('{% url "blog:article_list"%}?category_id={{ category.id }}', '#blog-content');return false;">
                        {{ category.name }}
                    </a>
                </li>
                {% endfor %}
                <hr>
                <li><a href="" onclick="$ajax.generateContent('{% url "blog:article_create" %}', '#blog-content');return false;">Create New Article</a></li>
                <li><a href="" onclick="$ajax.generateContent('{% url "blog:article_list" %}', '#blog-content');return false;">Back to Blog</a></li>
            </ul>
        </div>
        <div id="blog-content" class="col-md-10"></div>
    </div>
</div>
