<div class="container-fluid" style="margin-top: 2%">
    <div class="row" style="margin-bottom: 2%">
        <h1 class="col-12" style="text-align: center">Experience</h1>
    </div>
    <div class="row">
        <div class="col-lg-6">
            <h2>Bioprober - Software Engineer Intern</h2>
            <p class="text-right text-muted">September 2019 – December 2019</p>
            <p class="text-right">Bellevue, WA</p>
            <ur>
                <li>
                    Developed Ultrasound 3D free hand model reconstruction application in full stack
                </li>
                <li>
                    Maintained communication program for Cypress FX3 chip
                </li>
            </ur>
        </div><!-- /.col-lg-4 -->
        <div class="col-lg-6">
            <h2>Infoblox – Software Developer Intern</h2>
            <p class="text-right text-muted">June 2019 – September 2019</p>
            <p class="text-right">Tacoma, WA</p>
            <ur>
                <li>
                    Designed and implemented watchmen (monitoring) features for cloud service and applications
                </li>
                <li>
                     Utilized behavior-driven testing approach with Cucumber for cyber-intelligence projects
                </li>
                <li>
                     Designed SQL database schema for data log persistence
                </li>
            </ur>
        </div><!-- /.col-lg-4 -->
    </div><!-- /.row -->
    <div class="row" style="margin-top: 2%; margin-bottom: 2%">
        <a href="#" role="button" class="btn btn-secondary" onclick="$ajax.generateContent('{% url "home:home" %}', '#main-content');return false;">Back to Main</a>
    </div>
</div>
