{% load static %}

<div class="container-fluid" style="margin-top: 2%">
    <div class="row">
        <div class="col-lg-4">
            <img class="rounded-circle" src="{% static 'home_images/ucsd.jpg' %}" alt="ucsd image" width="140" height="140">
            <h2>Education</h2>
            <p>High school in Beijing, China<br>Bachelor of Science in UC San Diego<br>And now... Rutgers!<br><br></p>
            <p><a class="btn btn-secondary" href="#" role="button" onclick="$ajax.generateContent('{% url "home:education" %}', '#main-content'); return false;">View details &raquo;</a></p>
        </div><!-- /.col-lg-4 -->
        <div class="col-lg-4">
            <img class="rounded-circle" src="{% static 'home_images/docker.jpg' %}" alt="Generic placeholder image" width="140" height="140">
            <h2>Experience</h2>
            <p>Software Developer in Infoblox, Tacoma<br>Software Engineer in Bioprober, Bellevue<br><br><br></p>
            <p><a class="btn btn-secondary" href="#" role="button" onclick="$ajax.generateContent('{% url "home:experience" %}', '#main-content'); return false;">View details &raquo;</a></p>
        </div><!-- /.col-lg-4 -->
        <div class="col-lg-4">
            <img class="rounded-circle" src="{% static 'home_images/dota2.jpg' %}" alt="Generic placeholder image" width="140" height="140">
            <h2>Hobbies</h2>
            <p>Game Geek:) Dota2 Lover<br>Music Composing<br>Yo-Gi-Oh<br>Sports</p>
            <p><a class="btn btn-secondary" href="#" role="button" onclick="$ajax.generateContent('{% url "home:hobbies" %}', '#main-content'); return false;">View details &raquo;</a></p>
        </div><!-- /.col-lg-4 -->
    </div><!-- /.row -->
</div>
