<div class="container-fluid">
    {% for article in article_list %}
        <div class="row">
            <div class="col-md-12 col-xs-12">
                <h2>
                    <a href="#" onclick="$ajax.generateContent('{% url "blog:article_detail" article.id %}', '#blog-content');return false;" style="text-decoration: none;color: black;">{{ article.title }}</a>
                    <a href="#" onclick="$ajax.generateContent('{% url "blog:article_category_list" article.category.id %}', '#blog-content');return false;">
                        <small class="text-muted">
                            {{ article.category.name }}
                        </small>
                    </a>
                </h2>
                <p>
                    Author: {{ article.owner }}
                    {% if article.owner == user %}
                        ( <a class="text-black-50" href="#" onclick="$ajax.generateContent('{% url "blog:article_update" article.id %}', '#blog-content');return false;">Update</a> |
                        <a class="text-black-50" href="#" onclick="$ajax.generateContent('{% url "blog:article_delete" article.id %}', '#blog-content');return false;">Delete</a> )
                    {% endif %}
                    {% if user.is_authenticated %}
                        <!-- Two hrefs with each - one showing and one hidden -->
                        <a href="#" onclick="$ajax.favArticle('{% url 'blog:article_favorite' article.id %}', {{ article.id }});return false;"
                                {% if article.id in favorites %} style="display: none;" {% endif %} id="favorite_{{ article.id }}">
                            Add to Favorites
                        </a>
                        <!-- the second href -->
                        <a href="#" onclick="$ajax.favArticle('{% url 'blog:article_unfavorite' article.id %}', {{ article.id }});return false;"
                                {% if article.id not in favorites %} style="display: none;" {% endif %} id="unfavorite_{{ article.id }}">
                            Unfavorite
                        </a>
                    {% endif %}

                </p>
                <p><small style="color: dimgrey">updated at: {{ article.updated_at }}</small></p>
                <div class="wrapper">
                    <p style="margin:5px">{{ article.text|slice:":100" }} ...</p>
                    <button type="button" class="btn btn-secondary" style="float:right;margin-right:20px" onclick="$ajax.generateContent('{% url "blog:article_detail" article.id %}', '#blog-content');return false;">Read More</button>
                </div>
                <hr>
            </div>
        </div>
    {% endfor %}
</div>
