<div class="container-fluid">
    {% for article in page_obj %}
        <div class="row">
            <div class="col-md-12 col-xs-12">
                <h2>{{ article.title }}<span class="text-muted small"> {{ article.category }}</span></h2>
                <p>Author: {{ article.owner }}</p>
                <p><small style="color: dimgrey">updated at: {{ article.updated_at }}</small></p>
                <div class="wrapper">
                    <p style="margin:5px">{{ article.text|slice:":100" }} ...</p>
                    <button type="button" class="btn btn-secondary" style="float:right;margin-right:20px" onclick="$ajax.generateContent('{% url "blog:article_detail" article.id %}', '#blog-content');return false;">Read More</button>
                </div>
                <hr>
            </div>
        </div>
    {% endfor %}
    <div class="pagination">
    <span class="step-links">
        {% if page_obj.has_previous %}
            <a href="?page=1">&laquo; first</a>
            <a href="?page={{ page_obj.previous_page_number }}">previous</a>
        {% endif %}

        <span class="current">
            Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
        </span>

        {% if page_obj.has_next %}
            <a href="?page={{ page_obj.next_page_number }}">next</a>
            <a href="?page={{ page_obj.paginator.num_pages }}">last &raquo;</a>
        {% endif %}
    </span>
    </div>
</div>
