{% block head %}
    <style>
        .overlay{
            position: fixed;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            z-index: 10;
            display: none;
            background-color: rgba(0,0,0,0.5); /*dim the background*/
        }
    </style>
{% endblock %}
{% if article.picture %}
    <div id="overlay" class="overlay" style="text-align: center;" onclick="document.getElementById('overlay').style.display = 'none';">
        <img src="{{ MEDIA_URL }}{{ article.picture }}" style="max-width: 90%;max-height:90%;margin-top: 50px;border: 3px solid black;">
    </div>
{% endif %}
<span style="float: right;">
({{ article.updated_at }}) <!-- probably use naturaltime later -->
</span>
<h1>
    {{ article.title }}
    <a href="#" onclick="$ajax.generateContent('{% url "blog:article_list" %}?category_id={{ article.category.id }}', '#blog-content');return false;">
        <small class="text-muted">
            {{ article.category.name }}
        </small>
    </a>
</h1>
<h2 class="text-muted">
    Author: {{ article.owner }}
    {% if article.owner == user %}
        ( <a class="text-black-50" href="#" onclick="$ajax.generateContent('{% url "blog:article_update" article.id %}', '#blog-content');return false;">Update</a> |
        <a class="text-black-50" href="#" onclick="$ajax.generateContent('{% url "blog:article_delete" article.id %}', '#blog-content');return false;">Delete</a> )
    {% endif %}
</h2>
<p>
    {% if user.is_authenticated %}
        <!-- Two hrefs with each - one showing and one hidden -->
        <a href="#" onclick="$ajax.favArticle('{% url 'blog:article_favorite' article.id %}', {{ article.id }});return false;"
                {% if article.id in favorites %} style="display: none;" {% endif %} id="favorite_{{ article.id }}">
            Add to Favorites
        </a>
        <!-- the second href -->
        <a href="#" onclick="$ajax.favArticle('{% url 'blog:article_unfavorite' article.id %}', {{ article.id }});return false;"
                {% if article.id not in favorites %} style="display: none;" {% endif %} id="unfavorite_{{ article.id }}">
            Unfavorite
        </a>
    {% endif %}
</p>
{% if article.picture %}
    <img src="{{ MEDIA_URL }}{{ article.picture }}" style="max-width: 40%;max-height: 40%;"
         onclick="document.getElementById('overlay').style.display = 'block'"; alt="article picture">
{% endif %}
<p>
    {{ article.text }}
</p>
{% if user.is_authenticated %}
    <br clear="all"/>
    <p>
        {% load crispy_forms_tags %}
    <form id="comment-form" method="post" action="{% url 'blog:article_comment_create' article.id %}">
        {% csrf_token %}
        {{ comment_form|crispy }}
        <input type="submit" value="Submit">
    </form>
    </p>
{% endif %}
{% for comment in comments %}
    <p> {{ comment.text }}
        ({{ comment.updated_at }}) <!-- probably natural time later -->
        {% if user == comment.owner %}
            <a class="text-black-50" href="#" onclick="$ajax.generateContent('{% url "blog:article_comment_delete" comment.id %}', '#blog-content'); return false;">(Delete)</a>
        {% endif %}
    </p>
{% endfor %}
<p>
    <a href="#" onclick="$ajax.generateContent('{% url "blog:article_list" %}', '#blog-content');return false;">All blog</a>
</p>

<script>
    $(document).ready(function () {
        $('#comment-form').submit(function(event){
            // prevent default behavior of form
            event.preventDefault();

            $.ajax({
                url: $(this).attr('action'),
                method: $(this).attr('method'),
                data: $(this).serialize(),
                success: function (res){
                    $('#blog-content').html(res);
                }
            });
        });
    });
</script>
