<div class="container-fluid">
    {% for article in page_obj %}
        <div class="row">
            <div class="col-md-12 col-xs-12">
                <h2>
                    <a href="#" onclick="$ajax.generateContent('{% url "blog:article_detail" article.id %}', '#blog-content');return false;" style="text-decoration: none;color: black;">{{ article.title }}</a>
                    <span class="text-muted small"> {{ article.category }}</span>
                </h2>
                <p>
                    Author: {{ article.owner }}
                    {% if article.owner == user %}
                        ( <a class="text-black-50" href="#" onclick="$ajax.generateContent('{% url "blog:article_update" article.id %}', '#blog-content');return false;">Update</a> |
                        <a class="text-black-50" href="#" onclick="$ajax.generateContent('{% url "blog:article_delete" article.id %}', '#blog-content');return false;">Delete</a> )
                    {% endif %}
                    {% if user.is_authenticated %}
                        <!-- Two hrefs with each - one showing and one hidden -->
                        <a href="#" onclick="$ajax.favArticle('{% url 'blog:article_favorite' article.id %}', {{ article.id }});return false;"
                                {% if article.id in favorites %} style="display: none;" {% endif %} id="favorite_{{ article.id }}">
                        Add to Favorites
                        </a>
                        <!-- the second href -->
                        <a href="#" onclick="$ajax.favArticle('{% url 'blog:article_unfavorite' article.id %}', {{ article.id }});return false;"
                                {% if article.id not in favorites %} style="display: none;" {% endif %} id="unfavorite_{{ article.id }}">
                        Unfavorite
                        </a>
                    {% endif %}
                </p>
                <p><small style="color: dimgrey">updated at: {{ article.updated_at }}</small></p>
                <div class="wrapper">
                    <p style="margin:5px">{{ article.text|slice:":100" }} ...</p>
                    <button type="button" class="btn btn-secondary" style="float:right;margin-right:20px" onclick="$ajax.generateContent('{% url "blog:article_detail" article.id %}', '#blog-content');return false;">Read More</button>
                </div>
                <hr>
            </div>
        </div>
    {% endfor %}
    <div class="pagination">
    <span class="step-links">
        {% if page_obj.has_previous %}
            <a name="page-btn" href="?page=1">&laquo; first</a>
            <a name="page-btn" href="?page={{ page_obj.previous_page_number }}" id="previous-page">previous</a>
        {% endif %}

        <span class="current">
            Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
        </span>

        {% if page_obj.has_next %}
            <a name="page-btn" href="?page={{ page_obj.next_page_number }}">next</a>
            <a name="page-btn" href="?page={{ page_obj.paginator.num_pages }}">last &raquo;</a>
        {% endif %}
    </span>
    </div>
</div>

<script>
    $(document).ready(function () {
        function goToPage(page) {
            $.ajax({
                type: 'GET',
                url: '{% url "blog:article_list" %}',  // get category id for url
                data: {
                    page: page,
                    category_id: {{ category_id }},
                },
                success: function (res) {
                    // generate the responded html to blog-content
                    $('#blog-content').html(res);
                },
            });
        }
        // select every page button
        $('a[name="page-btn"]').click(function (event) {
            // prevent the tag from jumping to href
            event.preventDefault();
            // use re to get the page number
            goToPage($(this).attr('href').match(/\d+/)[0]);
        });
    });
</script>
