{% load crispy_forms_tags %}

<p>
  <form action="{% url 'blog:article_create' %}" method="post" id="upload_form" enctype="multipart/form-data">
    {% csrf_token %}
    {{ form|crispy }}
    <input type="submit" value="Submit">
    <input type="submit" value="Cancel" onclick="$ajax.generateContent('{% url "blog:base" %}', '#main-content')"; return false;">
  </form>
</p>
{% comment %}
<script>
  $("#upload_").submit(function () {
    console.log('Checking file size');
    if (window.File && window.FileReader && window.FileList && window.Blob) {
      var file = $('#id_{{ form.upload_field_name }}')[0].files[0];
      if (file && file.size > {{ form.max_upload_size }}) {
        alert("File " + file.name + " of type " + file.type + " must be < {{ form.max_upload_limit_text }}");
      return false;
      }
    }
  })
</script>
{% endcomment %}
